greenlet==1.0.0
numpy==1.20.2
blinker==1.4
brotli==1.0.9
cryptography==3.4.7
Cython==0.29.23
dataclasses==0.8
docutils==0.17.1
importlib_metadata==4.0.1
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
ordereddict==1.1
pretty==0.1
protobuf==3.16.0
pyOpenSSL==20.0.1
python-dotenv==0.17.1
simplejson==3.17.2
tornado==6.1
watchdog==2.1.1
wincertstore==0.2
zipp==3.4.1
