<html scroll-behavior: smooth>
    <head>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
         <title>Find My Game</title>
         <link rel="icon" type="image/png" href="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>

    <body>  
        <img src="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png" width="100" height="100" align="middle"></img>

        <div id="container">
                <div id="texts" style="float:centre">
                <div id="texts">
                <h1 style="font-family:verdana;font-size:500%;color:white;"><center>Find My Game</center></h1>
                </div>
                </div>
        </div>
        <form action="/" method="POST">
        <h1  ><center><label for="numplayer">Players:</label>
            <input id="numplayers" size="4" placeholder="1-100" style="height:50px; width:100px;" type="text" maxlength="3" minlength="1" name="numplayers"></input>
        </center></h1>
        
        <h1> <center>Genre:
        <select id="genre" name='genre' style="height:50px; width:150px;">
            <option value="all">All</option>
            <option value=”Strategy”>Strategy</option>
            <option value="Drawing">Drawing</option>
            <option value="Cards">Cards</option>
            <option value=”Action”>Action</option>
            <option value=”Guessing”>Guessing</option>
            <option value=”Fun”>Fun</option>
            <option value=”Trivia”>Trivia</option>
            <option value=”Party”>Party</option>
            <option value=”Racing”>Racing</option>
            </select>
        </center></h1>
        <h1 ><center>Mode:
            <select name='mode' id="mode" style="height:50px; width:200px;">
                <option value=”both”>App/Website</option>
                <option value="Website">Website</option>
                <option value="App">App</option>
            </select>
        </center></h1>

        <br></br>
        <div>
            <button name="submit" type="Submit" title="SEARCH">SEARCH</button>
        </div>
        <br />
        </form>
        <center>
        <div class="container" style="background: black;opacity: 50%;" >
            <h1>My First Bootstrap Page</h1>
            <p>This is some text.</p>
        </div>
        </center>
    </body>
</html>

<audio src="https://cdn.pixabay.com/audio/2021/04/06/audio_8a2e8d5804.mp3" autoplay loop></audio>.
