<html>
	<head>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<meta charset="utf-8">
   		 <title>Find My Game</title>
		 <link rel="icon" type="image/png" href="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png"/>
 	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>

	<body >	
		<img src="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png" width="100" height="100" align="middle"></img>

		<a href=ast ><button style="position:absolute;top: 1%;right: 1%;width:75 ;height: 75;border-radius: 20%;opacity: 80%;font-size: 50%">A.S.T</button></a>

		<div id="container">
    			<div id="texts" style="float:centre">
				<div id="texts">
				<h1 style="font-family:verdana;font-size:500%;color:white;"><center>Find My Game</center></h1>
				</div>
    			</div>
		</div>
		<form action="/" method="POST">
		<h1  ><center><label for="numplayer">Players:</label>
			<input id="numplayers" size="4" placeholder="1-100" style="height:50px; width:100px;" type="text" maxlength="3" minlength="1" name="numplayers"></input>
		</center></h1>
		
		<h1> <center>Genre:
		<select id="genre" name='genre' style="height:50px; width:150px;">
			<option value="all">All</option>
			<option value=”Strategy”>Strategy</option>
			<option value="Drawing">Drawing</option>
			<option value="Cards">Cards</option>
			<option value=”Action”>Action</option>
			<option value=”Guessing”>Guessing</option>
			<option value=”Fun”>Fun</option>
			<option value=”Trivia”>Trivia</option>
			<option value=”Party”>Party</option>
			<option value=”Racing”>Racing</option>
			</select>
		</center></h1>
		<h1 ><center>Mode:
			<select name='mode' id="mode" style="height:50px; width:200px;">
				<option value="both">App/Website</option>
				<option value="Website">Website</option>
				<option value="App">App</option>
			</select>
		</center></h1>

		<br></br>
		<div>
			<button name="submit" id="sub" type="Submit" title="SEARCH">SEARCH</button>
		</div>
		<br />
		</form>

		{% if numelements %}
		<p>
			<center>
				We found {{numgames}} Games!
			</center>
		</p>

		{% if numgames!=0 %}
		<div class="box" id="target" style="opacity: 0.9;" >
			{% for game in games %}
			<div2 class="container"><center>
				<table style="background-color: white;width: 100%;border-radius: 50px;">
					<tr>
						<td style="width: 33%;">
							<a href="{{game.URL}}">
							<img id="game_image" style="width: 90%;max-width: 90%;max-height: 90%;border-radius: 10%;" src="{{game.Picture}}" alt="No Image" >
							</a>
						</td>
						<td style="width: 50%;">
							<h1 style="color: black;"> {{game.Title}} - {{game.Category}} </h1>
							<p style="text-shadow: 0px 0px #FF0000;line-height: 1.5"> {{game.Description}} </p>
							<p style="text-shadow: 0px 0px #FF0000;">Players:{{game.Minplayers}}-{{game.Maxplayers}} </p>
							<p style="text-shadow: 0px 0px #FF0000;">Time:{{game.Time}}min </p>
							<p style="text-shadow: 0px 0px #FF0000;">Price:${{game.Price}} </p>
							
						</td>
						<td style="width: 17%;">
							<center>
								<form action="{{game.URL}}" method="get" target="_blank">
         							<button type="submit">Play</button>
         						</form>
								<br>
								<p> {{game.Format}} </p>
							</center>
							
							
						</td>
					</tr>
				</table>
			</center></div2>
			{% endfor %}

			<div2 class="container"><center>
				<table style="background-color: white;width: 100%;border-radius: 50px;">
					<tr>
						<td style="width: 33%;">
							<img id="game_image" style="width: 90%;max-width: 90%;max-height: 90%;border-radius: 10%;" src="https://cdn.onlinewebfonts.com/svg/img_44605.png" alt="GitHub Logo" >
						</td>
						<td style="width: 50%;">
							<h1 style="color: black;"> Have Another Game? </h1>
							<p style="text-shadow: 0px 0px #FF0000;line-height: 1.5">Help us grow our database! </p>
							<p style="text-shadow: 0px 0px #FF0000;">Head over to our GitHub and add the game to the "games.json" file!</p>
							<p style="text-shadow: 0px 0px #FF0000;">Thank you for your contribution</p>
						</td>
						<td style="width: 17%;">
							<center>
								<form method="get" target="_blank">
         							<button type="submit" onClick="parent.open('https://github.com/varora24/Find-My-Game')">ADD</button>
         						</form>
							</center>	
							
						</td>
					</tr>
				</table>
			</center></div2>

		{% endif %}

		{% endif %}


	</body>
</html>

<style>
body  {
	background-image: url('https://i.ibb.co/mbgpFyz/image.png');
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
  	overflow: scroll;
	background-position: center;
}
</style>

<audio src="https://cdn.pixabay.com/audio/2021/04/06/audio_8a2e8d5804.mp3" autoplay loop></audio>
